.block{
  display: block;
  max-width: 1080px;
}
.footer{
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
}
.footertop{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin:0px;
}
.footertop li{
  padding: 0px 32px;
  font-size: 12px;
}
.footerbody{
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin:0px;
  justify-content: space-between;
}
.footerbody li{
  font-size:10px;
}
.footerlist{
  list-style-type: none;
  margin-top:20px;
}

.headerlist{
  display: flex;
  direction: row;
  list-style-type: none;
  margin-bottom: 0px;
}
.headerlist li{
  padding: 0px 10px;
  font-size: 10px;
  
}
.headerbody{
  background-color: #a4080a;
  display: flex;
  justify-content: space-between;
  height: 73px;
  align-self: auto  flex-end;
}
.headertop{
  display: flex;
  justify-content: center;
 
}
.menu{
  list-style-type: none;
  display: flex;
  direction: row;
  margin-top: 0px;
  background-color: #ffffff;
  justify-content: center;
}
.menu a {
  padding: 10px;
  padding-top: 2px;
  font-size: 12px;
}
.page{
  width: auto;
  justify-content: center;
  display: block;
}
.dropdown{
  display:none;
}